/* Панели с таблицами лиг */
.league-panel {
    padding: 20px;
}

/* Кнопка для отображении информации о командах */
.team-button {
    width: 100%;
    height: 100%
}

/* Лого на панели с информацией о каманде */
.team-info-logo {
    width: 150px;
    margin: 20px;
}

/* Название команды на панели с информацией о каманде */
.team-info-name {
    text-decoration-style: double;
}

/* Стилизация эмблем команд для отображжения в таблицах */
.team-table-logo {
    width: 20px;
}

/* Основной блок */
.content-block {
    padding: 20px;
    margin: 20px;
    background-color: #e5e5e5;
    border-radius: 10px;
}
