/* Основной блок */
.content-block {
    padding: 20px;
    margin: 20px;
    background-color: #e5e5e5;
    border-radius: 10px;
}

/* Стилизация эмблем команд для отображжения в таблицах */
.team-table-logo {
    width: 20px;
}
